{% extends 'base.html.twig' %}
{% block body %}
    <main class="flex flex-col lg:flex-row">
        <div class="px-12 pt-10 w-full">
            <h1 class="text-4xl font-semibold mb-8">
                Browse our {{ cards.totalCount }} cards list !!
            </h1>
            <div class='mb-5'>                
                <form class="w-full bg-[#16202A] rounded-2xl px-5 py-3 flex flex-col min-[1174px]:flex-row min-[1174px]:justify-between" 
                    method="GET" name="search-form" class="search-form" action="{{ path('app_main_home') }}" data-controller="search-card" id="search-form">
                    <div class="flex flex-wrap w-full -mx-3">
                        <div class="flex flex-wrap w-11/12">
                            <div class="w-full md:w-1/3 px-3 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="input-name">
                                    Name
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                                    id="input-name" type="text" placeholder="Charizard" name="name">
                            </div>
                            <div class="w-full md:w-1/3 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="input-type">
                                    Type
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                                    id="input-type" type="text" placeholder="Fire" name="type">
                            </div>
                            <div class="w-full md:w-1/3 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="input-id">
                                    Id
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                                    id="input-id" type="text" placeholder="ex1-2">
                            </div>
                        </div>
                        <div class="flex md:w-1/12 px-3 justify-start"> 
                            <div class="w-full grid p-5">                          
                                <button type="button" class="bg-indigo-900 hover:bg-indigo-700 text-white font-bold py-2 px-4 border-b-4 border-indigo-600 hover:border-blue-500 rounded"
                                    data-action="search-card#search" >
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>                
                </form>
            </div>
            <div class="card-result grid grid-cols-3 gap-4">
                {% for card in cards.data %}
                    {% include 'card/_card_item.html.twig' with card %}
                {% endfor %}
            </div>   
            <div class="card-pagination w-full bg-[#16202A] rounded-2xl mt-5 px-5 py-3 flex flex-col min-[1174px]:flex-row min-[1174px]:justify-center" >
                <div class="inline-flex w-full justify-center" data-controller="search-card">
                    {% set pages = (cards.totalCount / cards.pageSize)|round(0, 'ceil') %}
                    {% if cards.page > 1 %}
                        <button class="bg-indigo-900 hover:bg-indigo-700 text-white font-bold py-2 px-4 border-b-4 border-indigo-600 hover:border-blue-500 rounded-l"
                            id="btn-prev" data-action="search-card#search" data-search-card-page-param="{{ cards.page - 1 }}">
                            Prev
                        </button>
                    {% endif %}
                    <select class="bg-indigo-900 border-4 border-indigo-600 text-center w-1/12 py-2 px-4" name="select-page" id="select-page" data-action="search-card#change">
                        {% for page in 1 .. pages %} 
                            <option value="{{ page }}"
                                {% if page == cards.page %} selected {% endif %}
                            >   
                                {{ page }}
                            </option>
                        {% endfor %}                       
                    </select>
                    {% if cards.page != pages %}
                        <button class="bg-indigo-900 hover:bg-indigo-700 text-white font-bold py-2 px-4 border-b-4 border-indigo-600 hover:border-blue-500 rounded-r"
                            id="btn-next" data-action="search-card#search" data-search-card-page-param="{{ cards.page + 1 }}">
                            Next
                        </button>
                    {% endif %}
                </div>
            <div>
        </div>
    </main>
{% endblock %}