<div class="bg-[#16202A] rounded-2xl pl-5 py-5 pr-11 flex flex-col min-[1174px]:flex-row min-[1174px]:justify-between">
    <div class="flex justify-center min-[1174px]:justify-start">
        <img class="h-[83px] w-[84px]" src="{{ card.images['small'] }}" alt="{{ card.name }}">  
        <div class="ml-5">
            <div class="w-full flex">
                <div class="rounded-2xl py-1 px-5 flex justify-center min-w-1/4 items-center bg-amber-400/10">                                   
                    <p class="text-xs text-nowrap">{{ card.id }}</p>
                </div>
            </div>
            <h4 class="text-[22px] pt-1 font-semibold">
                <a
                    class="hover:text-slate-200"
                    href="{{ path('app_card_show', {id: card.id})}}"
                >{{ card.name }}</a>
            </h4>
        </div>
    </div>
    <div class="flex justify-center min-[1174px]:justify-start mt-2 min-[1174px]:mt-0 shrink-0">
        <div class="text-right">
            <p class="text-slate-400 text-xs">Types</p>
            <p class="text-xl">
                {% if card.types is defined %}
                    {{ card.types|join('\n')|nl2br}}
                {% endif %}
            </p>
        </div>                            
    </div>
</div>