{% extends 'base.html.twig' %}
{% block title %}{{ card.name }}{% endblock %}
{% block body %}
<div class="my-4 px-8">
    <a class="bg-white hover:bg-gray-200 rounded-xl p-2 text-black" href="{{ path('app_main_home') }}">
        <svg class="inline text-black" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
        Back
    </a>
</div>
<div class="md:flex justify-center space-x-3 mt-5 px-4 lg:px-8">
    <div class="flex justify-center">
        <img class="max-h-[300px] md:max-h-[500px]" src="{{ card.images['large'] }}" alt="purple card launching">
    </div>
    <div class="space-y-5">
        <div class="max-w-xl mx-auto">
            <div class="px-8">
                <div class="w-full flex">
                    <div class="rounded-2xl py-1 px-3 flex justify-center min-w-20 items-center bg-amber-400/10">                    
                        <p class="text-base">{{ card.id }}</p>
                    </div>
                </div>
                <h1 class="text-[32px] font-semibold border-b border-white/10 pb-2 mb-5">
                    {{ card.name }}
                </h1>
                {% if card.types is defined %}
                    <h4 class="text-sm text-slate-300 font-semibold mt-2 uppercase">Types</h4>
                    <p class="text-[22px] font-semibold">
                        {{ card.types|join(', ') }}
                    </p>
                {% endif %}
                {% if card.types is defined %}
                    <h4 class="text-sm text-slate-300 font-semibold mt-2 uppercase">Resistances</h4>
                    <p class="text-[22px] font-semibold">
                        {% set resistanceArray = []  %}
                            {% for resistance in card.resistances  %}
                                {% set resistanceArray  = resistanceArray|merge([resistance.type ~ ' ' ~ resistance.value ])  %}
                            {% endfor  %}
                        {{ resistanceArray|join(', ')|default('None') }}
                    </p>
                {% endif %}
                {% if card.weaknesses is defined %}
                    <h4 class="text-sm text-slate-300 font-semibold mt-2 uppercase">Weaknesses</h4>
                    <p class="text-[22px] font-semibold">
                        {% set weaknessesArray = []  %}
                            {% for weaknesses in card.weaknesses  %}
                                {% set weaknessesArray  = weaknessesArray|merge([weaknesses.type ~ ' ' ~ weaknesses.value ])  %}
                            {% endfor  %}
                        {{ weaknessesArray|join(', ')|default('None') }}                    
                    </p>
                {% endif %}
                {% if card.attacks is defined %}
                    <h4 class="text-sm text-slate-300 font-semibold mt-2 uppercase">Attacks</h4>                
                    <ul class="list-disc mt-2">
                        {% for attack in card.attacks  %}
                            <li class="text-[22px] font-semibold">{{  attack.name  }} </li>
                        {% endfor  %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>    
</div>
{% endblock %}