<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pokemon TCG Card Finder{% endblock %}</title>
        <link rel="icon" type="image/jpg" href="{{ asset('images/favicon.jpg') }}" />
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="text-white" style="background: radial-gradient(102.21% 102.21% at 50% 28.75%, #00121C 42.62%, #013954 100%);">
        <div class="flex flex-col justify-between min-h-screen relative">
            <div>
                <header class="h-[114px] shrink-0 flex flex-col sm:flex-row items-center sm:justify-between py-4 sm:py-0 px-6 border-b border-white/20 shadow-md">
                    <a href="{{ path('app_main_home') }}">
                        <img class="h-[80px]" src="{{ asset('images/pokemon-tcg-logo.png') }}" alt="starshop logo">
                    </a>
                    <nav class="flex space-x-4 font-semibold">
                        <a class="hover:text-amber-400 pt-2" href="{{ path('app_main_home') }}">
                            Home
                        </a>                       
                    </nav>
                </header>
                {% block body %}{% endblock %}
            </div>
            <div class="p-5 bg-white/5 mt-3 text-center">
                Made by <a class="text-[#0086C4]" href="https://gitlab.com/vinicius.andrade">Vinicius Andrade</a>
            </div>
        </div>
    </body>
</html>